@model IEnumerable<Product_Tracking.Models.ViewModel.StoreViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>
</head>
<body>
    <table class="table">
        <tr class="info">
            @*<th>
                @Html.DisplayNameFor(model => model.StoreId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreCapacity)
            </th>
            
        </tr>
    
    @foreach (var item in Model) {
        <tr class="danger">
            @*<td>
                @Html.DisplayFor(modelItem => item.StoreId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCapacity)
            </td>
            
        </tr>
    }
    
    </table>
</body>
</html>
