@model Product_Tracking.Models.ViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Product_Tracking_Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(../../images/bg-01.jpg);">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="login100-form validate-form">
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">

                            <span class="label-input100">Username</span>
                            @*<input class="input100" type="text" name="username" id="Uname" placeholder="Enter username">*@
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeHolder = "Enter Username" })
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Password</span>
                            @*<input class="input100" type="password" name="pass" id="Pname" placeholder="Enter password">*@
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeHolder = "Enter Password" })
                            <span class="focus-input100"></span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn">
                                Login
                            </button>
                            <button type="button" class="login100-form-btn">
                                @Html.ActionLink("Create", "Signup")
                            </button>
                        </div>
                        @*<div class="flex-sb-m w-full p-b-30">
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                    </label>
                                </div>

                                <div>
                                    <a href="#" class="txt1">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>*@

                        @*<div class="container-login100-form-btn">*@
                        @*<button class="login100-form-btn" type="button" value="Login">
                                Login
                            </button>*@
                        @*<button class="login100-form-btn">
                                Login
                            </button>*@

                        @*<button type="button" class="login100-form-btn" data-toggle="modal" data-target="#mymodal">
                                create
                            </button>*@
                        @*<button type="button" class="login100-form-btn">
                                @Html.ActionLink("Create", "Signup")
                            </button>*@

                        <!-- Modal -->
                        @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">New User</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <input type="text" class="form-control" id="userid" style="display:none">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">UserName:</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="username" placeholder="Enter User Name" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="col-sm-10">
                                                        <label class="col-sm-2 control-label" for="email">Email: </label>
                                                        <input type="email" class="form-control" id="email" placeholder="Enter Email" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">PhoneNumber: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="phonenumber" placeholder="Enter Phone Number" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Address: </label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="address" placeholder="Enter Address" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Password: </label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" id="password" placeholder="Password" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="return Add();">Create</button>
                                        </div>
                                    </div>

                                </div>
                            </div>*@

                    </div>
                }
            </div>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
        </script>
    }
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <script src="~/Script/User.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

</body>
</html>
