
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->
    @*for total calculate*@
    <div class="panel panel-container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-teal panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-shopping-cart color-blue"></em>
                        @*@ViewBag.countuser*@
                        <div class="large">@Session["countusers"]</div>
                        <div class="text-muted">Users</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-blue panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-comments color-orange"></em>
                        <div class="large">@Session["countdeals"]</div>
                        <div class="text-muted">Deals</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-orange panel-widget border-right">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-users color-teal"></em>
                        <div class="large">@Session["category"]</div>
                        <div class="text-muted">Category</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                <div class="panel panel-red panel-widget ">
                    <div class="row no-padding">
                        <em class="fa fa-xl fa-search color-red"></em>
                        <div class="large">@Session["store"]</div>
                        <div class="text-muted">Store</div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
    </div>
    
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>User</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="92"><span class="percent">@Session["countusers"]</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Deal</h4>
                    <div class="easypiechart" id="easypiechart-orange" data-percent="65"><span class="percent">@Session["countdeals"]</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Category</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="56"><span class="percent">@Session["category"]</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Store</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="27"><span class="percent">@Session["store"]</span></div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
    
</div>
@{
    var message = "Following product are expiring today: ";
    List<string> productexplst = TempData["productexplst"] as List<string>;
    bool? loginStatus = Convert.ToBoolean(TempData["loginStatus"]);
    if (productexplst != null)
    {
        foreach (var data in productexplst)
        {
            message = message + data + ", ";
        }
        <script type="text/javascript">
            @*alert('@message');*@
            swal("Product Expire Alert!", '@message' , "info");
        </script>
    }
    if (loginStatus != null && loginStatus.Value)
    {
        <script type="text/javascript">
            swal("Success", "Successfully Loged In", "success");
        </script>
    }

}