@model IEnumerable<Product_Tracking.Models.ViewModel.StatusViewModel>

@{
    ViewBag.Title = "ProductStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Product Status List</li>
            </ol>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Product Status List</h1>
            </div>
        </div><!--/.row-->
        <p>
            @Html.ActionLink("Create New", "InsertProductStatus", "Admin", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StatusId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProductStatus", new { id = item.StatusId }, new { @class = "btn btn-info" }) |
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Delete", "DeleteProductStatus", new { id = item.StatusId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>